@use '~styles/appColors' as *;
.average-rate-card {
  display: flex;
  align-items: center;
  background-color: $secondary;
  flex-direction: row;

  gap: 25px;
  padding: 26px;

  height: fit-content;
  border-radius: 10px;
  flex-wrap: wrap;
}

.details-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  color: white;
  flex-grow: 1;
}
.title-details-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 8px;
}
.average-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.averages {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
