@use '~styles/appColors' as *;
.material-local-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: stretch;

  > .form-controls {
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-grow: 1;
  }
}
