# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/test-results/
/playwright-report/
/playwright/.cache/
/pg_data
/.env


# renders files
index-6b71ab78.css
index-a82d54c4.js
/out
/out/renderer

