@use '~styles/appColors' as *;
.report-card-container {
  display: flex;
  align-items: center;
  border: $navyBlue 1px solid;
  background-color: $background;
  border-radius: 15px;
  min-width: 200px;
  padding: 10px 15px;
  gap: 10px;
}
.report-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  height: fit-content;

  > span {
    color: $white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
}

.percentage-div {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  gap: 5px;

  > span {
    font-weight: 700;
    font-size: 16px;
  }
}
