@use '~styles/appColors' as *;
.report-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: rgb(241, 241, 241) 1px solid;
  background-color: rgb(249, 249, 249);
  border-radius: 15px;
  min-width: 200px;
  flex-grow: 1;
  height: fit-content;
  padding: 10px 15px;

  > span {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
}

.percentage-div {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  gap: 5px;

  > span {
    font-weight: 700;
    font-size: 16px;
  }
}
