@use '~styles/appColors' as *;
.course-brief-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  //   border: 1px solid $navyBlue;
  padding: 10px;
  flex-grow: 1;
  align-self: stretch;
  width: 100%;
  min-width: 500px;
}
