@use '~styles/appColors' as *;
.custom-accordion {
  .panel-details {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    .header-button-wrapper {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      gap: 10px;
      align-items: center;

      > span {
        font-size: 18px;
        font-weight: 600;
        color: $navyBlue;
      }
    }

    .material-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: stretch;
    }
  }
}
