@use "~styles/appColors" as *;
.view-courses-modal {
    padding: 20px;
    min-width: 800px;
    overflow-y: auto;
    max-height: 500px;

    > .course-overview-content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        > .course-row {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            grid-gap: 20px;
            border: 1px solid $textgray;
            padding: 5px 10px;
            border-radius: 5px;
            > img {
                width: 100%;
                height: 50px;
                object-fit: fill;
                border-radius: 10px;
            }

            > .button-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
            > div {
                > span:last-child {
                    overflow: auto !important;
                    overflow-wrap: break-word !important;
                    word-break: break-word !important;
                    text-align: center !important;
                    white-space: pre-wrap !important;
                }
            }
        }
    }
}
