@use "~styles/appColors" as *;
.question-preview-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    padding: 20px;

    > .main-question-options {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    > .answers-container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: stretch;
        > .answers-container-inputs {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;

            > .answer-input {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
        }
    }
    > .form-controls {
        display: flex;
        flex-direction: row;
        gap: 15px;
        justify-content: flex-end;
        flex-grow: 1;
    }
}
