@use "~styles/appColors" as *;
.container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 350px;
    position: relative;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    > .close-icon {
        width: 30px;
        position: absolute;
        top: 2px;
        right: 2px;
        cursor: pointer;
    }
    > .user-card-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto 20px auto;
        padding: 20px;

        > :first-child {
            margin-bottom: 10px;
        }
    }
    > .user-card-body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        text-align: center;
        margin-bottom: 20px;
        > div {
            max-width: 180px;
        }
        p:first-child {
            margin: 0;
            margin-bottom: 10px;
            font-weight: bold;
        }
        p:last-child {
            font-size: 20px;
            font-weight: 400;
            margin: 0;
        }
    }
}
