@use '~styles/appColors' as *;

.average {
  display: flex;
  flex-direction: row;
  gap: 15px;
  color: $white;
  align-items: flex-start;
  line-height: 1.1;

  > .average-details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > .average-details-header {
      display: flex;
      flex-direction: column;

      > .value-container {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: flex-start;
        gap: 2px;

        > span {
          font-size: 32px;
          color: $white;
          font-weight: 500;

          + span {
            color: $white;
            font-weight: 500;
            font-size: 18px;
          }
        }
      }

      > .detail-span {
        font-size: 18px;
        color: $textgray;
        font-weight: 500;
        opacity: 0.75;
      }
    }
  }

  > .icon {
    display: flex;
    align-items: center;
    padding: 10px;

    border-radius: 10px;
  }
}
