@use '~styles/appColors' as *;
.app-menu {
  display: flex;
  flex-direction: column;
  padding: 15px 30px;
  gap: 30px;
  border-right: 1px solid $bordercolor;
  background-color: $secondary;
  min-width: 300px;
  overflow: hidden;

  > .menu-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
