@use '~styles/appColors' as *;
.material-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  flex-grow: 1;
  align-self: stretch;

  > .video-preview-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;

    .video-preview-link {
      color: $navyBlue;
      text-decoration-line: underline;
      font-size: 16px;
    }
  }

  > .video-preview-controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }
}
