$primary: var(--primary);
$secondary: var(--secondary);
$good-black: var(--good-black);
$hot-pink: var(--hot-pink);
$text-gray: var(--text-gray);
$background: var(--background);
$navyBlue: var(--navy-blue);

$lighten: var(--lighten);
$text-color: var(--text-color);
$darken: var(--darken);
$dark-color: var(--dark-color);
$textgray: var(--text-gray);
$red: var(--red);

$coldred: var(--cold-red);
$lighterbackground: var(--lighter-background);
$coldblue: var(--cold-blue);
$hotred: var(--hot-red);
$goodgreen: var(--good-green);
$secondarycolor: var(--secondary-color);
$darkerseccolor: var(--darker-secondary-color);
$bordercolor: var(--border-color);
$hotpurple: var(--hot-purple);
$silvergray: var(--silver-gray);
$white: var(--white);

$goodblack: var(--good-black);
$warmorange: var(--warm-orange);
$darker: var(--darker);
$light: var(--light);
$coldblack: var(--cold-black);
